---
extends: default

ignore: |
  **/.github/workflows/**
  **/.github/labels.yml
  **/stale.yml

rules:
  line-length:
    max: 140
    level: warning
  truthy:
    allowed-values: ['true', 'false', 'yes', 'no']
